<div class="container pt-3">
    <h1 class="mb-5">{{this.category && this.category !== ''
        ? 'Top News for ' + this.category[0].toUpperCase() + this.category.slice(1)
        : (this.hasSearchItem
        ? 'Top News for ' + this.searchItem[0].toUpperCase() + this.searchItem.slice(1)
        : 'Headlines'
        )
        }}</h1>
    <div class="row g-2" *ngIf="!pageIsReady">
        <div class="col-12">
            <div class="headline-card mb-5 p-3">

            </div>
        </div>
    </div>
    <div class="row g-2" *ngIf="newsHeadline">
        <div class="col-12">
            <div class="headline-card mb-5 p-3 ps-0 d-md-flex">
                <img src="{{newsHeadline.urlToImage}}" class="card-img-top" alt="newsHeadline">
                <div class="card-body pt-md-0 pt-3">
                    <h2 class="card-title">{{
                        newsHeadline.title
                        }}</h2>
                    <p class="card-text author">by: {{newsHeadline.author ? newsHeadline.author + ',' : ''}}
                        {{newsHeadline.sourceName}}</p>
                    <p *ngIf="newsHeadline.publishedAt" class="card-text author">{{newsHeadline.publishedAt}}</p>
                    <p class="card-text">{{
                        shortenString(newsHeadline.description, 1000, 5)
                        }}</p>
                    <a style="font-style: italic; float: right;" target="_blank" href="{{newsHeadline.url}}">Read
                        article</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-2" *ngIf="newsData">
        <div class="col-lg-3 col-md-6" *ngFor="let news of newsData">
            <div class="card mb-2 p-2 card-effect mx-auto" style="max-width: 300px;">
                <img style="height: 45%;" src="{{news.urlToImage}}" class="card-img-top" alt="news">
                <div class="card-body">
                    <h5 class="card-title">{{
                        shortenString(news.title, 85, 5)
                        }}</h5>
                    <p class="card-text author small">by: {{
                        news.author ? shortenString(news.author, 60, 5) + ',' : ''
                        }} {{news.sourceName}}</p>
                    <p *ngIf="news.publishedAt" class="card-text author small">{{news.publishedAt}}</p>
                </div>
                <div class="card-text" style="display: flex; justify-content: end; align-items: flex-end;">
                    <a style="font-style: italic;" target="_blank" href="{{news.url}}">Read article</a>
                </div>
            </div>
        </div>
    </div>
</div>