<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Good News</a>
    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 with-cursor">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" (click)="onSelectCategory('')">Headlines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" (click)="onSelectCategory('sports')">Sports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" (click)="onSelectCategory('technology')">Technology</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" (click)="onSelectCategory('business')">Business</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" (click)="onSelectCategory('entertainment')">Entertainment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" (click)="onSelectCategory('health')">Health</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" (click)="onSelectCategory('science')">Science</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="#">Notifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Switch account</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Settings</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
      </ul>
      <form [formGroup]="formModel" class="d-flex" role="search" autocomplete="off">
        <div class="input-group">
          <input type="text" formControlName="searchItem" class="form-control" placeholder="Input a keyword here"
            aria-label="Search" aria-describedby="Search">
          <!-- <button class="btn btn-outline-success" type="button" id="Search"(click)="search()">Search</button> -->
          <span (click)="search()" style="cursor: pointer;" class="input-group-text"><i class='bx bx-search-alt-2'
              id="Search"></i></span>
        </div>
      </form>
    </div>
  </div>
</nav>