/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Acme&family=Alegreya+Sans:ital@1&family=Lato&family=Montserrat+Subrayada&family=Montserrat:wght@600&family=Vollkorn:wght@700&display=swap");

* {
  font-family: "Lato", sans-serif;
}

:root {
  --white:whitesmoke;
  --dark: #000000;
  --secondary:#0f0e0e;
}
